.gallery {
  margin-top: 24px;

  list-style: none;
}

/* @media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    margin-top: 32px;
  }
} */

.card-recipe {
  position: relative;

  width: 335px;

  margin-bottom: 24px;

  /* background: linear-gradient(
    0.94deg,
    rgba(5, 5, 5, 0.6) 4.82%,
    rgba(5, 5, 5, 0) 108.72%
  ); */
}

.card-img {
  width: 100%;

  border-radius: 15px;
  object-fit: cover;
}

.favorites-btn {
  position: absolute;

  top: 16px;
  right: 16px;

  background-color: transparent;
}

.icon-heart {
  stroke: #f8f8f8;
  opacity: 0.5;
  fill: transparent;

  transition: opacity 250ms var(--animation), fill 250ms var(--animation);
}

.icon-heart:hover {
  opacity: 1;
}

.icon-heart.is-favorite {
  opacity: 1;
  fill: #f8f8f8;
}

.card-info {
  position: absolute;
  left: 16px;
  bottom: 16px;

  color: var(--cards-text);
}

.card-title {
  margin-bottom: 8px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
}

.card-description {
  height: 32px;
  width: 303px;

  margin-bottom: 16px;

  text-overflow: ellipsis;
  overflow: hidden;
  /* white-space: nowrap; */

  font-size: 12px;
  line-height: 1.33;
}

.card-button {
  font-size: 12px;
  font-weight: 500;

  padding: 8px 14px;

  color: var(--cards-text);
  background-color: var(--accent-color);

  border-radius: 8px;
}

.card-additional-info {
  display: flex;
  align-items: center;
}

.card-additional-info p {
  margin-right: 4px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
}

.card-rating {
  display: flex;
  align-items: center;

  margin-right: 98px;
}

.card-star {
  fill: #f8f8f81a;
}
