.gallery-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding-left: 20px;
  margin-top: 24px;
}

@media (min-width: 768px) {
  .gallery-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;
  }

  .card-recipe {
    width: calc(50% - 12px);
  }
}
@media (min-width: 1024px) {
  .card-recipe {
    width: calc(33.33% - 16px);
    padding: 0;
  }
  .gallery-list {
    row-gap: 16px;
    column-gap: 32px;
  }

  .card-img {
    width: 250px;
    height: 287px;
  }

  .card-description {
    width: 100%;
  }
}
.card-recipe {
  position: relative;

  width: 335px;

  padding: 0, 16px, 16px, 16px;

  border-radius: 15px;
  background-image: linear-gradient(
    0.94deg,
    rgba(5, 5, 5, 0.6) 4.82%,
    rgba(5, 5, 5, 0) 108.72%
  );
}

.card-img {
  width: 100%;

  border-radius: 15px;
  object-fit: cover;
}

.favorites-btn {
  position: absolute;

  top: 16px;
  right: 16px;

  background-color: transparent;
}

.icon-heart {
  stroke: #f8f8f8;
  opacity: 0.5;
  fill: transparent;

  transition: opacity 250ms var(--animation), fill 250ms var(--animation);
}

.icon-heart:hover {
  opacity: 1;
}

.icon-heart.is-favorite {
  opacity: 1;
  fill: #f8f8f8;
}

.card-info {
  position: absolute;
  left: 16px;
  bottom: 16px;

  color: var(--cards-text);
}

.card-title {
  margin-bottom: 8px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
}

.card-description {
  height: 32px;
  width: 303px;

  margin-bottom: 16px;

  text-overflow: ellipsis;
  overflow: hidden;
  /* white-space: nowrap; */

  font-size: 12px;
  line-height: 1.33;
}

.card-button {
  font-size: 12px;
  font-weight: 500;

  margin-left: auto;
  padding: 8px 14px;

  color: var(--cards-text);
  background-color: var(--accent-color);

  border-radius: 8px;
}

.card-additional-info {
  display: flex;
  align-items: center;
}

.card-additional-info p {
  margin-right: 4px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
}

.card-rating {
  display: flex;
  align-items: center;
}

.card-star {
  fill: #f8f8f81a;
}
