.gallery {
  display: flex;
  flex-wrap: wrap;
}

.card-recipe {
  width: 250px;
  height: 287px;
  margin: 16px 8px;
  border-radius: 15px;
  color: #f8f8f8;
}

.card-heart {
  margin-top: 16px;
  margin-left: 212px;
  /* stroke: #f8f8f8; */
}

.card-title {
  margin-top: 128px;
  margin-left: 16px;
  width: 173px;
  height: 18px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-description {
  margin-top: 8px;
  margin-left: 16px;
  width: 218px;
  height: 32px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-button {
  width: 93px;
  height: 31px;
  border-radius: 8px;
  color: #f8f8f8;
  background: #9bb537;
}
