.header {
    padding: 27.5px 4px;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 32px 8px;
    }
}

@media screen and (min-width: 1280px) {
    .header {
        padding: 40px 76px;
    }
}

.header>.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_icons {
    display: flex;
    align-items: center;
    gap: 14px;
}

@media screen and (min-width: 1280px) {
    .header_icons {
        gap: 18px;
    }
}

.header_list {
    display: none;
}

@media screen and (min-width: 768px) {
    .header_list {
        gap: 16px;
        display: flex;
        justify-content: flex-end;
    }
}

.header_logo {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: var(--light-theme-text);
}

@media screen and (min-width: 768px) {
    .header_logo {
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0.03em;
        color: var(--light-theme-text);
    }
}

.header_logo-green {
    color: #9BB537;
}

.header_link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--light-theme-text);
    position: relative;
}


/* .header_link:hover,
.header_link:focus {
    color: var(--accent-color);
} */

.header_burger-btn {
    background: none;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .header_burger-btn {
        display: none;
    }
}

.switch-btn {
    display: none;
}

@media screen and (min-width: 768px) {
    .switch-btn {
        display: inline-block;
        width: 46px;
        height: 20px;
        border-radius: 19px;
        /* радіус округлення */
        background: #CECDCD;
        /* колір фону */
        z-index: 0;
        margin: 0;
        padding: 0;
        border: none;
        cursor: pointer;
        position: relative;
        transition-duration: 300ms;
        /* анімація */
    }
}

.switch-btn::after {
    content: "";
    height: 20px;
    /* висота кнопки */
    width: 20px;
    /* ширина кнопки */
    border-radius: 17px;
    background: #F8F8F8;
    /* колір кнопки */
    top: 0px;
    /* розташування кнопки по вертикалі відповідно до основи */
    left: 26px;
    /* розташування кнопки по горизонталі відповідно до основи */
    transition-duration: 300ms;
    /* анімація */
    position: absolute;
    z-index: 1;
}

.switch-on {
    background: var(--accent-color);
}

/*.switch-on::after {
    left: 37px;
}*/


/* .menu-close {
    background: none;
}
.menu-close_icon {  
    color: #F8F8F8;
} */
.menu {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: var(--accent-color);
    top: 0;
    padding-top: 10px;
    padding-bottom: 48px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    >.container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        overflow: auto;
    }
}

.menu_list {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.menu_item {
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
}