.layout-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;

  /* align-items: baseline; */
}

.gallery {
  flex-basis: 100%;
}

@media (min-width: 768px) {
  .layout-container {
    display: flex;
  }
  .categories-section {
    flex-basis: 30%;
  }

  .search-container {
  }
  /* .gallery {
    grid-column: 1 / 4;
    flex-wrap: wrap;
    margin-top: -430px;
    margin-left: 250px;
  } */
}
@media screen and (min-width: 1280px) {
  /* .layout-container {
    gap: 64px;
  }
  .layout-container {
    display: grid;
    grid-template-columns: 25% 60% 30%;
    grid-template-rows: auto;
    grid-column-gap: 16px;
  }
  .categories-section {
    grid-column: 1 / 2;
  }

  .search-container {
    grid-column: 2 / 3;
  }

  .gallery {
    grid-column: 3 / 4;
    flex-wrap: wrap;
    margin-left: -780px;
    margin-top: 200px;
  } */
}
