.is-hidden {
  display: none;
}

.tui-ico-prev,
.tui-ico-next,
.tui-ico-first,
.tui-ico-last {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 44px;
  background: #9bb537;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #050505;
  font-size: 20px;
}

.tui-ico-prev::before {
  content: '«';
}

.tui-ico-next::before {
  content: '»';
}

.tui-ico-first::before {
  content: '««';
}

.tui-ico-last::before {
  content: '»»';
}

.tui-ico-prev,
.tui-ico-next,
.tui-ico-first,
.tui-ico-last {
  background: #9bb537;
}

.tui-pagination {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 68px;
  margin-left: 580px;
}

.tui-page-btn {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 44px;
  background: #9bb537;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #050505;
  font-size: 16px;
  margin: 0 5px;
}

.tui-page-btn.tui-is-selected {
  background: #9bb537;
}
