:root {
  --light-theme-placeholder-text: rgba(5, 5, 5, 0.2);
}

.search-container {
  padding-left: 16px;
  padding-right: 16px;
}

.search-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 14px;
}

.search-item {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 8px;
  font-size: 12px;
  color: var(--light-theme-btn-text);
}

.input-search,
.select-time,
.select-area,
.select-ingredients {
  border: 1px solid var(--light-theme-placeholder-text);
  border-radius: 15px;
  font-size: 14px;
  color: var(--light-theme-btn-text);
  padding: 14px 18px;
}

.input-search::placeholder,
.select-time::placeholder,
.select-area::placeholder,
.select-ingredients::placeholder {
  color: var(--light-theme-btn-text);
}
.input-container {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-image: url(/images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.input-search {
  padding-left: 48px;
}

.input-container {
  width: 335px;
}

.select-ingredients {
  width: 188px;
}
.select-time,
.select-area {
  width: 160px;
}
.first {
  flex-basis: 100%;
}

.second,
.third {
  flex-basis: 25%;
}

.fourth {
  flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .search-container {
    margin-top: 80px;
    padding-left: 0px;
  }
  .search-list {
    gap: 16px;
    flex-wrap: wrap;
  }
  .label {
    font-size: 14px;
  }

  .input-container {
    width: 278px;
  }

  .select-time {
    width: 125px;
  }
  .select-area {
    width: 141px;
  }

  .first,
  .second {
    flex-basis: 30%;
  }

  .third,
  .fourth {
    flex-basis: 30%;
    clear: both;
  }
  .input-search,
  .select-time,
  .select-area,
  .select-ingredients {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .search-container {
    margin-top: 100px;
  }
  .search-list {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .first,
  .second,
  .third,
  .fourth {
    flex-basis: auto;
  }
}
