<header class="header">
  <div class="header_div container">
    <nav class="header_nav">
      <ul class="header_list list">
        <li><a href="./index.html" class="header_link">Home</a></li>
        <li><a href="./favorites.html" class="header_link">Favorites</a></li>
      </ul>
    </nav>
    <a href="./index.html" class="header_logo"><span class="header_logo-green">tasty</span>treats.</a>
    <div class="header_icons">
      <a href="tel:+380730000000">
        <img src="./img/shopping-cart-03.svg" width="24px" height="24px" class="header_icon">
      </a>
      <button type="button" class="header_burger-btn menu-open">
        <img src="./img/burger.svg" class="header_burger-icon" width="32" height="32">
      </button>
      <div class="switch-btn switch-on"></div>

    </div>
  </div>

  <div class="menu visually-hidden">
    <div class="container">
      <button class="menu-close" type="button">
        <img src="./img/menu-close.svg" width="20" height="20">
      </button>
      <ul class="menu_list">
        <li class="menu_item"><a href="./index.html">Home</a></li>
        <li class="menu-item"><a href="./favorites.html">Favorites</a></li>
      </ul>
      <div class="switch-btn switch-on"></div>
    </div>
  </div>
</header>
