<section>
  <h1>Learn to Cook Tasty Treats' Customizable Masterclass</h1>
  <p>
    TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step
    Video Guides.
  </p>
  <a href="tel:+380730000000">+38 073 0000000</a>
  <div class="event_card">
    <img src="#" alt="Cook name" class="cook_image" />
    <div class="dish_card">
      <img src="#" alt="Recipe" class="recipe_image" />
      <h2>Recipe name</h2>
      <p>Area name</p>
    </div>
    <img src="#" alt="Recipe" class="recipe_closeup" />
    <!--svg ellipses-->
  </div>
</section>
