<div class="modal-overlay">
  <div class="modal">
    <svg class="modal-close">
      <use href="../img/icons.svg#icon-close-big"></use>
    </svg>
    <div class="modal-recipe-intro">
      <iframe class="modal-recipe-video" src="" scrolling="no" frameborder="1">
      </iframe>
      <div class="modal-recipe">
        <h3 class="modal-recipe-name"></h3>
        <div class="modal-recipe-info">
          <p class="modal-recipe-raiting"></p>
          <div class="modal-star-raiting"></div>
          <p class="modal-time-cooking"></p>
        </div>
        <ul class="modal-ingredients custom-scrollbar"></ul>
      </div>
    </div>
    <ul class="modal-tag"></ul>
    <p class="modal-recipe-desk custom-scrollbar"></p>
    <button class="modal-fav-btn favorites-btn" type="button"></button>
  </div>
</div>
