<div class="modal-overlay">
  <div class="modal">
    <svg class="modal-close">
      <use href="./img/icons.svg#x-black"></use>
    </svg>
    <div class="modal-recipe-intro">
      <iframe class="modal-recipe-video"> </iframe>
      <div class="modal-recipe">
        <h3 class="modal-recipe-name"></h3>
        <div class="modal-recipe-info">
          <p class="modal-recipe-raiting"></p>
          <div class="modal-star-raiting"></div>
          <p class="modal-time-cooking"></p>
        </div>
        <ul class="modal-ingredients custom-scrollbar"></ul>
      </div>
    </div>
    <ul class="modal-tag"></ul>
    <p class="modal-recipe-desk custom-scrollbar"></p>
    <div class="modal-btns">
      <button class="modal-fav-btn" type="button"></button>
      <button class="modal-rating-btn" type="button">Give a rating</button>
    </div>
  </div>

  <div class="modal-rating">
    <svg class="modal-close">
      <use href="./img/icons.svg#x-black"></use>
    </svg>
    <h3 class="modal-raiting-head">Rating</h3>
    <div class="modal-rating-rewiews">
      <p class="modal-rating-raiting">1</p>
      <!-- <div class="modal-raiting-star"> -->
      <form>
        <fieldset>
          <span class="star-cb-group modal-staring">
            <input type="radio" id="rating-5" name="rating" value="5" />
            <label for="rating-5">5</label>
            <input type="radio" id="rating-4" name="rating" value="4" />
            <label for="rating-4">4</label>
            <input type="radio" id="rating-3" name="rating" value="3" />
            <label for="rating-3">3</label>
            <input type="radio" id="rating-2" name="rating" value="2" />
            <label for="rating-2">2</label>
            <input
              type="radio"
              id="rating-1"
              name="rating"
              value="1"
              checked="checked"
            />
            <label for="rating-1">1</label>
          </span>
        </fieldset>
      </form>
      <!-- <input type="radio" name="star" value="4" />
        <input type="radio" name="star" value="5" /> -->
      <!-- </div> -->
    </div>
    <p class="modal-rating-desk"></p>
    <form class="form-rating-rate" action="">
      <input
        class="modal-rate-input"
        placeholder="Enter email"
        type="email"
        name="email"
        pattern="[a-z, A-Z, 0-9, ._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        required
      />
      <button class="modal-rate-btn" type="submit">Send</button>
    </form>
  </div>
</div>
