.hero-favotites {
  margin-bottom: 40px;
}

.in-favorites {
  margin-top: 40px;
  margin-bottom: 24px;
}

.hero-image {
  display: flex;
  justify-content: center;
}

.no-data {
  display: none;
  width: 100%;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.no-data-img {
  width: 68px;
  margin-bottom: 24px;
}

.categories {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  justify-content: flex-start;
  margin-bottom: 32px;
}

.categories button.active {
  background-color: var(--accent-color);
  border-color: currentColor;
  color: var(--dark-theme-text);
}

.all-categories {
  display: none;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .all-categories {
    display: block;
  }
}

.favotites-btn {
  padding: 14px 18px;
  margin-bottom: 0;
}

.favorites-gallery {
  margin: 0;
}
