/* utils */
@import url('./utils/variables.css');

/* base */
@import url('./base/fonts.css');
@import url('./base/reset.css');
@import url('./base/common.css');

/* components */

/* layout */
@import url('./layout/header.css');
@import url('./layout/hero.css');
@import url('./layout/gallery.css');
@import url('./layout/modals.css');
@import url('./layout/categories.css');
@import url('./layout/search.css');
@import url('./layout/layout_section.css');
@import url('./layout/pagination.css');
@import url('./layout/popular_recipes.css');
