<section class="categories-section">
  <div class="categories-container container">
    <button type="button" class="categories-btn btn">All categories</button>
    <ul class="categories-list">
      <li class="categories-item">
        <button type="button" class="categories-list-btn">1</button>
      </li>
      <li class="categories-item">
        <button type="button" class="categories-list-btn">2</button>
      </li>
      <li class="categories-item">
        <button type="button" class="categories-list-btn">3</button>
      </li>
      <li class="categories-item">
        <button type="button" class="categories-list-btn">4</button>
      </li>
      <li class="categories-item">
        <button type="button" class="categories-list-btn">5</button>
      </li>
      <li class="categories-item">
        <button type="button" class="categories-list-btn">6</button>
      </li>
      <li class="categories-item">
        <button type="button" class="categories-list-btn">7</button>
      </li>
      <li class="categories-item">
        <button type="button" class="categories-list-btn">8</button>
      </li>
      <li class="categories-item">
        <button type="button" class="categories-list-btn">9</button>
      </li>
      <li class="categories-item">
        <button type="button" class="categories-list-btn">10</button>
      </li>
    </ul>
  </div>
</section>
