<form class="search-form" id="search-form">
  <ul class="search-list">
    <li class="search-item first">
      <label class="label">Search</label>
      <div class="input-container">
        <span class="search-icon"></span>
        <input class="input-search" type="text" placeholder="Enter Text" />
      </div>
    </li>

    <li class="search-item second">
      <label class="label">Time</label>
      <select class="select-time">
        <option value="10">10 min</option>
        <option value="20">20 min</option>
        <option value="30">30 min</option>
        <option value="40">40 min</option>
        <option value="50">50 min</option>
        <option value="60">60 min</option>
      </select>
    </li>
    <li class="search-item third">
      <label class="label">Area</label>
      <select class="select-area"></select>
    </li>

    <li class="search-item fourth">
      <label class="label">Ingredients</label>
      <select class="select-ingredients"></select>
    </li>
  </ul>
</form>
