<section class="hero-section">
  <div class="hero-container container">
    <div class="content-container">
      <h1 class="hero-title">
        Learn to Cook
        <span class="highlighted">Tasty Treats'</span> Customizable Masterclass
      </h1>
      <p class="hero-caption">
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </p>
      <!-- <button class="order-btn" type="button">Order now</button> -->

      <a class="order-btn" href="tel:+380730000000">Order now</a>
    </div>
    <div class="swiper" id="container-wide">
      <div class="swiper-wrapper"></div>
      <div class="swiper-pagination-bullet"></div>
    </div>
  </div>
</section>
